:root {
    // default table colors
    --defualt-table-color: #ffffff;
    --second-table-color: #dadada;
    --border-table-color: #b3b3b3;
    --head-table-color: #000000;
    --low-error-color: #2d9b49;
    --average-error-color: #68c07f;
    --high-error-color: #ff9500;
    --transactions-only-color: #ff7346;
    --wialon-only-color: #6f9fdf;
}